*{     
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

.title {
  font-size: 30px;
  text-align: center;
  color: #306a57;
  padding-top: 13px;
  padding-bottom: 10px
}

.background{
  background-color: whitesmoke;
  border: 6px solid rgb(34, 76, 68);
  border-radius: 20px 20px 20px 20px;
  margin: 30px;
}

img{
   width: 100px;
    height: auto;
} 

.row{
  padding: 5px;
}

.data{
  width: 20%;
  height: 25%;
  background-color: rgb(209, 251, 243);
  border: 6px solid rgb(50, 98, 89);
  color: rgb(39, 36, 36);
  text-align: center;
  float: left;
  padding: 35px;
  margin: 8px;
  font-size: 25px;
  border-radius: 20px 20px 20px 20px
}

.ch{
  width: 62%;
  background-color: rgb(222, 247, 243);
  border: 6px solid rgb(50, 98, 89);
  text-align: center;
  color: rgb(148, 146, 146);
  float: center;
  padding: 30px;
  margin: 8px;
  font-size: 16px;
  border-radius: 20px 20px 20px 20px
}

.button_light{
  width: 20%;
  height: 20%;
  background-color: rgb(209, 251, 243);
  border: 1px solid rgb(209, 251, 243)  ;
  color: rgb(39, 36, 36);
  text-align: center;
  float: left;
  padding: 15px;
  margin: 8px;
  font-size: 30px;
  border-radius: 20px 20px 20px 20px;
}

.btn{
    border: 1px solid rgba(128, 128, 128, 0.511);
    text-align: center;
    padding: 40px;

}
.btn1{ 
    background-color: rgb(50, 98, 89);
    padding: 75px;
    color: lightskyblue;
    border: 6px solid rgb(130, 200, 182);
    border-radius: 20px 20px 20px 20px;
    font-size: 30px;
}
